{% extends "other/base.html" %}
{% block title %} <title>info</title> {% endblock %}
{% block content %}
{% from "other/macros.html" import render_field %}
    <div class="centered3">
        <h1 class="fst-italic">Greeting page</h1>
        <h3>Hello</h3>
        {% if name %}
        <h4>Nice to meet you {{ name }}</h4>
        {% endif %}
        <form method="POST" action="{{ url_for('cookie.change_password') }}" novalidate>
            {{ form_change_password.csrf_token }}
            {{ render_field(form_change_password.new_password, class="form-control") }}
            {{ form_change_password.submit(class="btn btn-primary mb-3 bg-dark") }}
        </form>
        <form method="post" action="{{ url_for('cookie.logout') }}" novalidate>
            {{ form_logout.csrf_token }}
            {{ form_logout.submit(class="btn btn-primary mb-3 bg-dark")}}
        </form>
    <h2>Manage cookies</h2>
    <form method="post" action="{{ url_for('cookie.add_cookie') }}" novalidate>
        {{ form_add_cookie.csrf_token }}
        {{ render_field(form_add_cookie.key, class="form-control") }}
        {{ render_field(form_add_cookie.value, class="form-control") }}
        {{ render_field(form_add_cookie.expiration, class="form-control") }}
        {{ form_add_cookie.submit(class="btn btn-primary mb-3 bg-dark") }}
    </form>
    <form method="post" action="{{ url_for('cookie.delete_cookie') }}" novalidate>
        {{ form_delete_cookie.csrf_token }}
        {{ render_field(form_delete_cookie.key, class="form-control") }}
        {{ form_delete_cookie.submit(class="btn btn-primary mb-3 bg-dark") }}
    </form>
    <form method="post" action="{{ url_for('cookie.delete_all_cookies') }}" novalidate>
        {{ form_delete_all_cookies.csrf_token }}
        {{ form_delete_all_cookies.submit(class="btn btn-primary mb-3 bg-dark") }}
    </form>
    <h2>Cookies</h2>
    <table class="table table-dark table-striped">
        <tr>
            <th>Key</th>
            <th>Value</th>
            <th>Expiration</th>
            <th>Created At</th>
        </tr>
        {% for cookie in cookies %}
        <tr>
            <td>{{ cookie.key }}</td>
            <td>{{ cookie.value }}</td>
            <td>{{ cookie.expiration }}</td>
            <td>{{ cookie.created_at }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}
{% block marg %}
    <span class="centered2"><a href="{{ url_for('appb.base') }}" class="fst-italic link-secondary">base page</a></span>
{% endblock %}
{% block footer %}
    <div>
        <p class="display-10 fst-italic">@nastinka_krd</p>
    </div>
{% endblock %}