{% extends "other/base.html" %}
{% block title %} <title>login</title> {% endblock %}
{% block content %}
    <div class="centered2">
    <h2>Create User</h2>
    <form action="{{ url_for('auth.user') }}" method="post" class="row g-3" enctype="multipart/form-data">
        <div class="form-outline">
            {{ form.hidden_tag() }}
            {{ form.username(class="form-control", placeholder="Enter your username here") }}<br>
            {{ form.email(class="form-control", placeholder="Enter your email here") }}<br>
            {{ form.password(class="form-control", placeholder="Enter your password here") }}<br>
            {{ form.image(class="form-control", placeholder="Select image") }}<br>
            {{ form.submit(class="btn btn-primary mb-3 bg-dark") }}
        </div>
    </form>

    <br><br><br>
    <h2>Delete second User</h2>
    <form class="row g-3" action="{{ url_for('auth.user') }}" method="post">
        {{ del_form.hidden_tag() }}
        {{ del_form.submit(class="btn btn-primary mb-3 bg-dark") }}
    </form>
    <br><br><br>
    <h2>Update User Password</h2>
    <form class="row g-3" action="{{ url_for('auth.user') }}" method="post">
        {{ change_form.hidden_tag() }}
        {{ change_form.password(class="form-control", placeholder="Enter your password here") }}<br>
        {{ change_form.submit(class="btn btn-primary mb-3 bg-dark") }}
    </form>
    <br><br><br>
     {% if users %}
        <table class="table mb-4">
                <thead>
                    <tr>
                      <th scope="col">No.</th>
                      <th scope="col">Username</th>
                      <th scope="col">Email</th>
                      <th scope="col">Image</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <th scope="row">{{user.id }}</th>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td><img src="{{ user.image_file }}" width="100" ></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h4>Users amount = {{ users_amount }}</h4>
        {% else %}
            <p>No registered users found.</p>
        {% endif %}

    </div>
{% endblock %}
{% block marg %}
    <span class="centered2"><a href="{{ url_for('appb.base') }}" class="fst-italic link-secondary">base page</a></span>
{% endblock %}
{% block footer %}
    <div>
        <p class="display-10 fst-italic">@nastinka_krd</p>
    </div>
{% endblock %}