{% extends "other/base.html" %}
{% block title %} <title>Post</title> {% endblock %}
{% block content %}
{% from "other/macros.html" import render_field %}
    <div class="centered2">
    <h2>Update page</h2>
    <form action="{{ url_for('post.update_post', id=post.id) }}" method="post" class="row g-3" enctype="multipart/form-data" novalidate>
        <div class="form-outline">
            {{ form.hidden_tag() }}
            {{ render_field(form.title, class="form-control") }}<br>
            {{ render_field(form.text, class="form-control") }}<br>
            {{ render_field(form.image, class="form-control") }}<br>
            {{ render_field(form.type, class="form-control") }}<br>
            {{ render_field(form.category, class="form-control") }}<br>
            {{ render_field(form.tags, class="form-control") }}<br>
            {{ form.submit(class="btn btn-primary mb-3 bg-dark", label="update")}}
        </div>
    </form>
    <h2>List of Categories</h2>
    <ul>
        {% for category in categories %}
            <h3><li>{{ category.name }}</li></h3>
        {% endfor %}
    </ul>
    </div>
{% endblock %}
{% block marg %}
    <span class="centered2"><a href="{{ url_for('appb.base') }}" class="fst-italic link-secondary">base page</a></span>
{% endblock %}
{% block footer %}
    <div>
        <p class="display-10 fst-italic">@nastinka_krd</p>
    </div>
{% endblock %}