{% extends "base.html" %}
{% block title %} <title>about</title> {% endblock %}
{% block content %}
    {% from "macros.html" import render_field %}
    <div class="centered4">
    <h2>Change user password</h2>
    <form class="row g-3" action="{{ url_for('change_user_password') }}" method="post">
        {{ form.hidden_tag() }}
        {{ render_field(form.old_password, class="form-control") }}<br>
        {{ render_field(form.password, class="form-control") }}<br>
        {{ render_field(form.confirm_password, class="form-control") }}<br>
        {{ form.submit(class="btn btn-primary mb-3 bg-dark") }}
    </form>
    </div>
{% endblock %}
{% block marg %}
    <span class="centered2"><a href="{{ url_for('base') }}" class="fst-italic link-secondary">base page</a></span>
{% endblock %}
{% block footer %}
    <div>
        <p class="display-10 fst-italic">@nastinka_krd</p>
    </div>
{% endblock %}