{% extends "base.html" %}
{% block title %} <title>about</title> {% endblock %}
{% block content %}
    <div class="centered">
        {% if current_user.is_authenticated %}
            <h3 class="fst-italic"><a href="{{ url_for('my_profile') }}">Мій профіль</a></h3>
            <h3 class="fst-italic"><a href="{{ url_for('logout_new') }}">Вихід</a></h3>
            <h3 class="fst-italic"><a href="{{ url_for('change_user_password') }}">Змінити пароль</a></h3>
        {% else %}
            <h3 class="fst-italic"><a href="{{ url_for('register') }}">Зареєструватися</a></h3>
            <h3 class="fst-italic"><a href="{{ url_for('login3') }}">Увійти</a></h3>
        {% endif %}
    </div>
{% endblock %}
{% block marg %}
    <span class="centered2"><a href="{{ url_for('base') }}" class="fst-italic link-secondary">base page</a></span>
{% endblock %}
{% block footer %}
    <div>
        <p class="display-10 fst-italic">@nastinka_krd</p>
    </div>
{% endblock %}


