{% extends "home.html" %}
{% block title %} <title>login</title> {% endblock %}
{% block content %}
{% macro render_field(field) %}
    <dt>
        {{ field.label }}
    </dt>
    {% if field.errors %}
        <dd>
            {{ field(style="background-color: red;", **kwargs) | safe }}
        </dd>
        <ul>
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% else %}
    <dd>
        {{ field(**kwargs) | safe }}
    </dd>
    {% endif %}
{% endmacro %}

    <div class="centered2">
        <h1 class="fst-italic">Form page</h1>
        <form class="row g-3" action="{{ url_for('login') }}" method="POST" novalidate>
            {{ form_main.csrf_token }}
            {{ render_field(form_main.username, class="form-control") }}
            {{ render_field(form_main.password, class="form-control") }}
            {{ render_field(form_main.remember, class="form-check-input") }}
            {{ form_main.submit(class="btn btn-primary mb-3 bg-dark") }}
        </form>
    </div>

{% endblock %}
{% block marg %}
    <span class="centered2"><a href="{{ url_for('home') }}" class="fst-italic link-secondary">home page</a></span>
{% endblock %}