{% extends "base.html" %}
{% block title %} <title>about</title> {% endblock %}
{% block content %}
    {% from "macros.html" import render_field %}
    <div class="centered4">
    <div class="content-section">
    <div class="media" style="display: flex; align-items: center;">
        <img class="rounded-circle" src="{{ user.image_file }}" width="100">
        <div class="media-body" style="margin-left: 15px;">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
    </div>
        <form action="{{ url_for('my_profile') }}" method="post" class="row g-3" enctype="multipart/form-data" novalidate>
        <div class="form-outline">
            {{ form.hidden_tag() }}
            {{ render_field(form.username, class="form-control") }}<br>
            {{ render_field(form.email, class="form-control") }}<br>
            {{ render_field(form.about_me, class="form-control") }}<br>
            {{ render_field(form.image, class="form-control") }}<br>
            {{ form.submit(class="btn btn-primary mb-3 bg-dark", label="update")}}
        </div>
    </form>
        <p>Last seen: {{ user.last_seen }}</p>
</div>
    </div>
{% endblock %}
{% block marg %}
    <span class="centered2"><a href="{{ url_for('base') }}" class="fst-italic link-secondary">base page</a></span>
{% endblock %}
{% block footer %}
    <div>
        <p class="display-10 fst-italic">@nastinka_krd</p>
    </div>
{% endblock %}